/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: green;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.dialog {
  text-align: center;
  button {
    margin: auto;
  }
}
